@model IEnumerable<Cinema.Models.Cine>

@{
    ViewData["Title"] = "Cinemas";
}

<h1>Lista de Cinemas</h1>

<p>
    <a asp-action="Create" class="btn btn-light">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocalCinema)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocalCinema)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CinemaId" class="btn btn-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CinemaId" class="btn btn-warning">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CinemaId" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
