@model Cinema.Models.Ingresso

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluindo</h1>

<h3>Você quer mesmo excluir?</h3>
<div>
    <h4>Ingresso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinema.LocalCinema)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filme.NomeFilme)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sessao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sessao.NumSala)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora.Horario)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoIngresso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoIngresso.TIngresso)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assento.AssentoId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IngressoId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Voltar</a>
    </form>
</div>
